<div class="all">
  <div class="header">
    <div class="title">User List angular</div>
    <div class="signature">By ElgissioFranito</div>
  </div>
  <div class="body">
    <div class="content">
      <div class="contentHeader">
        <input type="text" class="searchInput">
        <button type="submit" class="searchButton">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true" data-slot="icon" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>
        <button class="addTask">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        </button>
      </div>
      <div class="contentBody">
        <div class="tasks" *ngFor="let t of tasks">
          <div class="task">

            <div class="bodyTodo">

              <div class="checkbox">
                <input type="checkbox" [(ngModel)]="t.isDone">
              </div>

              <div class="detail">
                <div [ngClass]="{stroked:t.isDone}">{{t.title}}</div>
                <div [ngClass]="{stroked:t.isDone}"> {{t.date}}</div>
                <div [ngClass]="{stroked:t.isDone}"> {{t.time}}</div>
                <div [ngClass]="{stroked:t.isDone}"> {{t.description}}</div>
              </div>

            </div>

            <div class="updateTodo">
              <button type="submit" class="updateButton">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>