.all {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: yellow;
    position: relative;
    overflow: hidden;

    .header-app {
        height: 15%;
        width: 100%;
        // background: linear-gradient(rgb(181, 0, 0), red);
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        text-align: center;
        z-index: 5;
        background: randomColorFunction();
        // animation: randomColor 5s infinite;

        .title {
            font-size: 4em;
        }

        div {
            color: aliceblue;
        }

    }

    .body {
        position: relative;
        top: 15%;
        height: 85vh;
        background: linear-gradient(rgb(231, 231, 231), rgb(164, 163, 163));

        .content {
            padding: 20px 50px;
            overflow-x: hidden;
            overflow-y: auto;

            .contentHeader {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-around;
                margin: 20px 0;


                .searchInput {
                    width: 80%;
                    border: blue solid 1px;
                    border-radius: 10px;
                    padding: 0 10px;

                }

                .searchButton {
                    width: 8%;
                    font-size: 1.5em;
                    border-radius: 10px;
                    border: blue solid 1px;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        background: rgba(0, 102, 255, 0.2);
                    }
                }

                .addTask {
                    width: 8%;
                    font-size: 1.5em;
                    border-radius: 10px;
                    border: blue solid 1px;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        background: rgba(0, 102, 255, 0.2);
                    }
                }

                svg {
                    width: 30px;
                    color: #555;
                }
            }

            .contentBody {
                display: flex;
                flex-direction: column;
                align-items: center;

                .task {
                    width: 720px;
                    margin: 10px;
                    border: 1px solid green;
                    border-radius: 20px;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.5);

                    .bodyTodo {
                        display: flex;

                        .checkbox {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 20px;

                            input[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                transition: 0.3s;

                                &:checked {
                                    width: 40px;
                                    height: 40px;
                                    background: blue;
                                }

                                &:hover {
                                    scale: 1.1;
                                }
                            }
                        }


                    }

                    .actionButton {
                        display: flex;
                        gap: 10px;

                        button {
                            height: 80px;
                            width: 80px;
                            font-size: 1.5em;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: 0.3s;
                            background: rgba(255, 255, 255, 0.5);

                            &:hover {
                                scale: 1.1;
                            }

                            svg {
                                width: 25px;
                            }
                        }

                        .updateButton {
                            border: 1px solid green;
                            color: green;

                            &:hover {
                                background: rgba(0, 255, 76, 0.2);
                            }
                        }

                        .deleteButton {
                            border: 1px solid red;
                            color: red;

                            &:hover {
                                background: rgba(255, 0, 0, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

.stroked {
    text-decoration: line-through;
}

.dialog {
    width: 50%;
    min-height: 200px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /* Applique un flou de 10 pixels */
    background-color: rgba(255, 255, 255, 0.5);
    /* Couleur de fond semi-transparente pour atténuer l'effet de flou */

}

@keyframes randomColor {
    0% {
        background-color: random-color();
    }

    100% {
        background-color: random-color();
    }
}

// @function random-color() {
//     @return rgb(random(0, 255), random(0, 255), random(0, 255));
// }

@function randomColorFunction() {
    // $red: random() * 255;
    // $green: random() * 255;
    // $blue: random() * 255;
    
    // @return rgb($red, $green, $blue);
    @return blue;
  }